#list{
    border-collapse: collapse;
    width: 100%;
}
#list th{
    background-color: lavenderblush;
    color: black;
}
#list th, #list td{
    border: 1px solid lavenderblush;
    padding: 5px;
}
#list tr:nth-child(even) {
    background-color: ivory;
}